
<!DOCTYPE html>
<html>
  <head>
    <title>login.html</title>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="this is my page">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="$!webPath/resource/css/pagination.css">
  </head>
  
  <body>
		<h1>登录页面</h1>
		<form action="$!webPath/doLogin">
			username:<input type="text" name="username" /><br/>
			password:<input type="password" name="password" /><br/>
			<span style="font-size:12px;color:red;">$!tip</span><br/>
			<input type="submit" value="登录"/>
		</form>
  </body>
</html>
